[2016-07-27 01:43] rmrhz opened #1 "Read configuration file"
It would be better if the project can provide an option where it will a configuration file to read in linting specific folders or files instead of explicitly define them over the cli.

[2016-07-27 01:45] overtrue commented on #1
@rmrhz Thanks, I will do it next version. :smile:

[2016-07-27 01:45] overtrue opened #2 "Config file support."
#1

[2016-07-27 01:47] rmrhz commented on #1
Oh we posted it nearly at the same time ^_^

[2016-07-27 01:48] overtrue commented on #1
@rmrhz 😆

[2016-07-27 01:49] rmrhz commented on #1
Looking forward in the next iteration 谢谢你 :D

[2016-07-27 01:50] overtrue commented on #1
@rmrhz ❤️

[2016-07-27 01:54] overtrue commented on #1
@rmrhz do you perfer to using yaml or php to config the project ?

[2016-07-27 01:59] rmrhz commented on #1
@overtrue hmmm, considering interoperability we could go with both ways. lets try yaml for now as it would be easier to parse through and through.

[2016-07-27 02:01] overtrue commented on #1
`.phplint.yaml`:

[code]
---
`.phplint`
[code]

[2016-07-27 02:02] rmrhz commented on #1
@overtrue looks great :+1:

[2016-07-27 02:03] overtrue commented on #1
@rmrhz OK, I will both support them.

[2016-07-27 02:08] abrahamgreyson commented on #1
vot for yaml

[2016-07-27 07:08] #2 closed

[2016-07-27 07:08] #1 closed

[2016-07-27 07:13] v-leonhou opened #7 "composer require overtrue/phplint失败"
我执行composer require overtrue/phplint好长时间，终端一直卡在加载界面，尝试是composer.json权限问题，于是修改权限777，还是不行，最后还是手动修改composer.json解决的

[2016-07-27 07:13] overtrue commented on #7
@v-leonhou 网络问题吧

[2016-07-27 08:59] #7 closed

[2016-07-28 07:48] wangyaoxu commented on #7
这样的 ![git](http://ww1.sinaimg.cn/mw690/710e403bjw1f69o46l9pqj21320c0wnb.jpg)

[2016-07-28 07:55] overtrue commented on #7
@wangyaoxu 你的项目依赖了 symfony/console 2.7.15 与当前这个工具所依赖的冲突了，冲突的情况下建议你全局装，这样就不会冲突，所有项目都可以使用：

[code]
使用：

[code]

当然，你肯定得把你的 composer bin 目录加到 PATH 中：`~/.composer/vendor/bin` 才能作为全局命令使用。

[2016-07-29 07:14] wangyaoxu commented on #7
@overtrue 感谢超哥回复。是在新建的项目里运行的，开发环境是homestead，运行 composer global require overtrue/phplint -vvv 依然报同样的错误

[2016-07-29 07:24] overtrue commented on #7
@wangyaoxu 全局安装也冲突？

[2016-07-29 07:37] wangyaoxu commented on #7
@overtrue  是的额

[2016-07-29 07:39] overtrue commented on #7
@wangyaoxu 那我还是建议你更新你的依赖吧，2.7 已经很旧了

[2016-07-29 07:59] wangyaoxu commented on #7
@overtrue 试了一下 laravel 5.2 然后安装成功了

[2016-07-29 08:00] overtrue commented on #7
嗯

On 周五, 7月 29, 2016 at 3:59 下午, Sugar <notifications@github.com> wrote:
@overtrue [https://github.com/overtrue] 试了一下 laravel 5.2 然后安装成功了

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub [https://github.com/overtrue/phplint/issues/7#issuecomment-236118737] , or mute the thread [https://github.com/notifications/unsubscribe-auth/ABZ3YMkLCOp_0_6y-

[2016-08-15 06:58] IvanChou opened #8 "-q 指令的使用场景和检测结果的一次性输出需求"
你好，
我在将这个工具集成到 capistrano 自动化部署的过程中，发现一个小小的问题

phplint 在输出检测结果的时候是动态输出的，这会导致 pty 将其认为是多次输出，从而将中间过程不停的输出到屏幕上

![2016-08-15 2 53 27](https://cloud.githubusercontent.com/assets/2182089/17657707/0f646d22-62f8-11e6-81b4-b76277f8bac3.png)

使用 -q 参数后，所有的输出都没有了(包括报错)，phplint 也没有输出到日志的设置，有点不理解 -q 的使用场景

PS: 是否考虑对 laravel 再多一点兼容，允许使用 `php artisan phplint` 来调用命令

[2016-08-15 07:24] overtrue commented on #8
1. 这个组件是基于  [symfony/console] 开发的，所以 `-q` 选项是框架带的
2. 关于这个动态输出的问题，我再看看这个框架是否有提供选项
3. 首先它是检查 PHP 代码语法错误的，所以它应该就是最顶层的角色，如果把它放到代码里的话，那你的框架代码出问题的时候它自身都跑不起来了，哈哈

[2016-08-15 08:19] IvanChou commented on #8
我试着加了一个 `brief-output` 的参数解决了这个问题
需要提 PR 么

[2016-08-15 08:19] overtrue commented on #8
@IvanChou 提 ❤️

[2016-08-15 12:50] overtrue commented on #8
@IvanChou 试试 0.0.3

[2016-08-15 14:55] IvanChou commented on #8
![2016-08-15 10 48 55](https://cloud.githubusercontent.com/assets/2182089/17668134/853cd1aa-633a-11e6-9e5e-edb9c4de7fec.png)

capistrano 的终端日志返回貌似不能在某一行上面追加或修改，只能另外输出一行，于是就成了这样
这个样子已经是可以接受了

看了下  symfony/console  的 output，里面有一个输出信息分级的设定，我明天再试着去尝试一下

PS: 想想，其实这个需求好小众 😅

[2016-08-15 15:09] overtrue commented on #8
@IvanChou 哈哈，我尝试了在 Travis-CI 里看是正常的，所以我怀疑应该是你这个工具它会实时抓取变化。。。

[2016-08-15 15:56] IvanChou commented on #8
我想了一下，这个需求太小众，如果只是为了去解决它而向项目中插入不必要的代码好像有点得不偿失

既然是在项目的自动化部署过程中遇到的问题，放到项目自身中去解决应该也是合适的。
所以最后我还是决定通过一个 laravel console 来解决这个问题

十分感谢您的支持 😆

[2016-08-15 15:56] #8 closed

[2016-08-17 07:17] liuyao729 opened #13 "测试出错没有返回具体行数 只是一个Unknow"
php版本是 5.6.9
phplint版本是 0.0.3

[2016-08-17 07:43] overtrue commented on #13
首先你的错误也许本来就是不可标记的，比如你的错误在生成的代码里，比如使用 create_function 或者 使用 eval 产生的代码里的错，肯定是无法确定行的。

![image](https://cloud.githubusercontent.com/assets/1472352/17728307/471c0b90-6491-11e6-8ba2-96ae717cf0f5.png)

[2016-08-17 08:02] liuyao729 commented on #13
![image](https://cloud.githubusercontent.com/assets/1097825/17728604/a5cebad8-6492-11e6-96a1-ab64d571862b.png)
![image](https://cloud.githubusercontent.com/assets/1097825/17728837/c0e4e7a6-6493-11e6-9e65-48ac731a2d09.png)

[2016-08-17 08:03] overtrue commented on #13
@liuyao729 你用 PHP 的语法检查工具看看：

[code]

[2016-08-17 08:27] liuyao729 commented on #13
有错误提示
![image](https://cloud.githubusercontent.com/assets/1097825/17729590/7a649b24-6497-11e6-99b4-15610c19e852.png)

[2016-08-17 08:28] overtrue commented on #13
@liuyao729 OK,我来看看问题在哪

[2016-08-17 12:20] overtrue commented on #13
@liuyao729 修复了，在于报错信息不一样，有的报错是

[code]

有的是：

[code]

已经在 0.0.4 版本修复。

[2016-08-17 14:55] liuyao729 commented on #13
赞

[2016-08-18 07:25] liuyao729 commented on #13
另外我还发现如果display_errors=Off 的情况下
会有Errors parsing <file>   出现这个错误的时候可以提示打开display_errors

[2016-08-18 07:25] overtrue commented on #13
@liuyao729 求截图

[2016-08-18 08:06] liuyao729 commented on #13
由于你对getOutput  做过处理  所以过滤掉了错误就是Unknow
我直接把getOutput打出来了
![image](https://cloud.githubusercontent.com/assets/1097825/17766410/8b75318c-655d-11e6-8269-b76a153e8697.png)

[2016-08-18 08:18] overtrue commented on #13
@liuyao729 搞定了。

[2016-08-18 08:33] IvanChou opened #14 "似乎不支持 Laravel 5.1 😂"
Laravel 5.1 的依赖：

[code]

phplint:

[code]

于是 5.1 就装不上了

[2016-08-18 08:34] overtrue commented on #14
@IvanChou 那就全局装吧，不装在框架里：

[code]

[2016-08-18 08:39] IvanChou commented on #14
啊 看来是要这么干了

但是全局的话，`.phplint-cache` 又会出现问题吧
如果有多个项目

[2016-08-18 09:51] overtrue commented on #14
@IvanChou 我来升级一个版本，让缓存只存到当前执行命令的位置

[2016-08-19 05:12] #13 closed

[2016-08-19 05:13] overtrue commented on #14
@IvanChou 请使用 0.1 版本

[2016-08-19 05:13] #14 closed

[2016-09-09 12:28] paladox opened #17 "Please support an option that can check only the files you changed"
Hi please support an options that checks only the files you changed please?

[2016-10-31 03:58] overtrue commented on #17
@paladox Every process will cache the result by filename. if the file not changed, the next process will read the result from cache. 😄

[2016-10-31 08:17] paladox commented on #17
Oh thankyou :)

[2016-10-31 10:01] overtrue commented on #17
[code]
😄

[2016-10-31 10:01] #17 closed

[2017-03-24 08:48] ThomasRalee opened #18 "Bug not reflecting the right error message"
Hi, I did a scan and i see bugs error returning this

[code]

Am i missing something?

[2017-03-24 08:57] overtrue commented on #18
Please provide a detailed context.

[2017-03-24 15:22] ThomasRalee commented on #18
Hi,

I am running Laravel 5.4, PHP7.
I installed overture/phplint on my application folder directory and ran this script
[code]

Its returning the errors as intended. But the error message are not really helpful.

'<img src="https://s29.postimg.org/adgko0vhj/Screen_Shot_2017-03-24_at_11.17.12_pm.png"></img>`

I am suspecting that its because of php7? I cant be sure. Please advice.

[2017-03-25 03:04] overtrue commented on #18
@ThomasRalee OK, I got it, I will fix it as soon as possible.

[2017-04-01 20:19] ThomasRalee commented on #18
@overtrue Hi Sir, Any news on the fix?

[2017-04-02 02:25] overtrue commented on #18
@ThomasRalee Fixed. 😄

[2017-04-02 02:25] #18 closed

[2017-05-04 19:00] generalconsensus opened #20 "PHP7 parsing error"
When you are testing a php 7 on a php 5.6.3 system, of course there will be blood. I found this out with the spaceship operator.

[code]

This causes a parse error which stops phplint. Probably not a bug since it's user error to test a php7 codebase with an older version of php, but still wanted to pass this along just the same. Thanks!

[2017-05-05 02:30] overtrue commented on #20
so, I will make a database to support all of the PHP features?

[2017-05-05 17:47] rmrhz commented on #20
@generalconsensus Why on earth would you test 7 code on 5.6.3? If possible why not do it yourself?

[2017-05-06 04:56] #20 closed

[2017-12-27 13:13] MHarutunian opened #27 ""Inappropriate ioctl for device" when used as composer script"
Hi,
first of all thank you for this great tool! Simple yet effective, just does what it's supposed to!

I noticed a small issue when being used as a script in composer.json. Running the phplint from the `/vendor/bin` directory directly works as expected:

[code]
However, running it as a composer script (e.g. `composer lint:syntax`) will display stty warnings:
[code]
The script is defined in compos

[2017-12-27 13:18] overtrue commented on #27
Thanks for feedback! Let me check the problem.

[2017-12-28 02:50] overtrue commented on #27
Please try to use the `dev-master` branch, and update the composer script to:

[code]

[2017-12-28 09:00] MHarutunian commented on #27
That was fast, thanks for the quick fix. Unfortunately I couldn't install `phplint` from the master branch, cause apparently Symfony 4 is no longer allowed (which I was using in my project):

Before composer.json was like this (from https://github.com/overtrue/phplint/commit/1cf777592f3b1ded0b633638decee8ae26034d29):
[code]
now it looks like this (from https://github.com/overtrue/phplint/commit/fe

[2017-12-28 09:03] overtrue commented on #27
let me fix it.

[2017-12-28 09:07] overtrue commented on #27
@MHarutunian Plz try again.

[2017-12-28 09:19] MHarutunian commented on #27
Great, everything works now - Symfony 4 install, TypeError and the original stty error have been fixed. Thanks a lot for the quick help!

[2017-12-28 09:20] overtrue commented on #27
@MHarutunian Thanks for your feedback. 😆

[2017-12-28 09:20] #27 closed

[2017-12-28 09:22] overtrue commented on #27
@MHarutunian Try to add option `-v` and you will see a more detailed output.

[2018-01-09 09:48] jdrydn opened #29 "Available as a PHAR?"
Is this available as a standalone PHAR? If not could it be, under **Releases** I can see source code downloads but if a standalone package was to be distributed that would be a good place to store it under?

[2018-01-31 02:54] xielehe opened #30 "If I want disable 'print_r' in a php file, how can I do that?"
I want phplint warnning me when that happen,what should I do?

[2018-01-31 06:41] overtrue commented on #30
Sorry, It seems like that there is no way to do this.

[2018-01-31 06:41] #30 closed

[2018-01-31 06:42] overtrue commented on #29
I am working on it.

[2018-02-21 12:40] rlweb opened #33 "Only lint files changed compared to master"
For local developement on a large code base, sometimes running code lint across the whole codebase in unnecessary but running across a diff of files changes compared to say master.

This may be a useful feature, I may come back and create a PR soon.

[2018-02-21 14:42] rmrhz commented on #33
I also agree on this.

[2018-02-24 01:38] overtrue commented on #33
👍

[2018-02-26 13:25] willemstuursma opened #34 "What does the cache do?"
Why is this a faster library, e.g. compared to https://github.com/JakubOnderka/PHP-Parallel-Lint?

What does the cache do, what is it used for?

[2018-02-27 03:16] overtrue commented on #34
sorry. I did not know the existence of **PHP-Parallel-Lint** before, this is a self-use library, and then put it to GitHub, the cache is used to speed up the inspection, only check for changed files.

Thank you.

[2018-03-05 08:58] mimmi20 opened #35 "Undefined variable"
PHP Notice:  Undefined index: cache in /home/developer/projects/BrowserDetector/vendor/overtrue/phplint/src/Command/LintCommand.php on line 157
PHP Stack trace:
PHP   1. {main}() /home/developer/projects/BrowserDetector/vendor/overtrue/phplint/bin/phplint:0
PHP   2. Overtrue\PHPLint\Console\Application->run() /home/developer/projects/BrowserDetector/vendor/overtrue/phplint/bin/phplint:32
PHP   3.

[2018-03-05 09:02] overtrue commented on #35
What's your PHP version ?

[2018-03-05 09:06] overtrue commented on #35
And what's the version of overtrue/phplint?

[2018-03-05 09:14] mimmi20 commented on #35
PHP: 7.1.13
phplint: 1.0.3

[2018-03-05 09:16] overtrue commented on #35
https://github.com/overtrue/phplint/blob/master/src/Command/LintCommand.php#L157

https://3v4l.org/qUWfe

[2018-03-05 09:19] mimmi20 commented on #35
This was fixed after the release of the version 1.0.3.

[2018-03-05 09:19] #35 closed

[2018-03-05 09:24] overtrue commented on #35
@mimmi20 OK, sorry, I make a release 1.0.4 😆

[2018-03-07 04:27] rmrhz opened #36 "phplint.cache No Such file or directory"
This happened on my windows box. If `build` folder isn't present in the root directory it will display the error

`PHP Warning:  file_put_contents(/build/phplint.cache): failed to open stream: No such file or directory in \vendor\overtrue\phplint\src\Cache.php on line 65`

So an inquiry. should `Cache.php` check if the `build` folder exists and is writable before writable? If not. Display a notifi

[2018-03-23 04:16] eclipxe13 commented on #34
I've migrated from parallel-lint to phplint.
* Pros: is faster and cache make it really fast for big projects
* Cons: Less options like:
  - git blame
  - showing the portion of the source code with error
  - output in json format
  - files from stdin

None of these options I use, decision was easy.

[2018-03-23 04:31] eclipxe13 commented on #29
Nice, would you consider also sign the phar file to include it into phive tool ?
https://phar.io/howto/sign-and-upload-to-github.html

[2018-03-24 02:24] overtrue commented on #34
@eclipxe13 😄

[2018-03-24 03:02] eclipxe13 commented on #36
I could make a PR for this, what is better?

1. If the folder not exists:
    - try to create a a silent operation? and/or
    - dismiss and continue without caching?
    - notice and continue without caching?
    - throw fatal error?
1. If the folder do exists but is a file or is not writtable
    - dismiss and continue without caching?
    - notice and continue without caching?
    - throw fatal

[2018-03-24 09:17] overtrue commented on #36
@eclipxe13 Yes, I'm agree with you.

[2018-03-27 05:49] funivan commented on #33
We solved this issue with the following command in our CI configuration:
[code]

[2018-03-27 06:05] overtrue commented on #33
@funivan 👍

[2018-03-29 12:26] exussum12 commented on #33
That is only for one commit

I would suggest `git diff --name-only origin/master...`  for commits relative to master made only on this branch

[2018-04-05 05:32] eclipxe13 commented on #34
:smile: now it contains "showing the portion of the source code with error" and "output in json format", still didn't notice any performance issue (just my perception)

[2018-04-05 06:12] #34 closed

[2018-04-05 19:44] eclipxe13 opened #41 "cache store whould only be called once"
I think the line where cache is stored [`$cache && Cache::put($newCache);`](https://github.com/overtrue/phplint/blob/24434a966abe2054bd2e1978cce5a704e6ae729d/src/Linter.php#L126) shoud be outside the loop.

As it is inside the main loop (while there are still ending files or running processes) the action of persist the cache array is called several times.

The main loop in `Linter::lint` exits aft

[2018-04-06 05:04] #41 closed

[2018-04-06 05:04] overtrue commented on #41
👍

[2018-04-06 05:07] overtrue commented on #33
Since everyone's environment is different, the definition of "changed files" is not the same, so this is not intended to be built in here.

You can use the command to filter out the files you want to check and invoke the command check just like the above.

Thanks @rlweb @exussum12 @funivan @rmrhz

[2018-04-06 05:07] #33 closed

[2018-04-24 05:47] jason-chang opened #43 "你好，有 rule 列表吗？"
你好，有 rule 列表吗？

[2018-04-24 10:37] overtrue commented on #43
啥 rule?

[2018-04-25 00:10] jason-chang commented on #43
@overtrue  就是规则啊, 类似 eslint 的
https://eslint.org/docs/rules/

[2018-04-25 00:29] overtrue commented on #43
它是 php 语法错误检查工具，不是代码规范检查工具，规则是 php 解释器定的

发自我的 iPhone

[2018-04-25 01:04] jason-chang commented on #43
@overtrue 了解了，大神知道可用的 php 代码规范检查工具吗？

[2018-04-25 01:48] overtrue commented on #43
- https://style-ci.io
- https://scrutinizer-ci.com/g/overtrue/wechat/?branch=master
- https://github.com/squizlabs/PHP_CodeSniffer

[2018-04-25 01:48] #43 closed

[2018-05-14 13:25] Ilyes512 opened #46 "Add a no --progress flag"
Feature request:

Add a flag to disable the progress (better for CI environments).

[2018-06-15 07:28] estahn opened #47 "Exit with 0 on empty files"
We're running phplint like this:

[code]

Would it be possible to return 0 if no files are linted?

[2018-06-15 12:50] estahn commented on #47
@overtrue This is a non-issue now. I'm scanning now all files (>10k) which takes approx 1min without cache. With cache is just a couple of seconds max.

[2018-06-17 00:50] overtrue commented on #47
@estahn OK.

[2018-06-17 00:50] #47 closed

[2018-06-19 06:31] #46 closed

[2018-06-19 06:46] Ilyes512 commented on #46
Thanks!

[2018-06-19 07:51] overtrue commented on #46
😆

[2018-07-12 20:55] lmj0011 opened #48 "Making symfony/console 3.2.0 the minimal requirement breaks some Laravel projects"
https://github.com/overtrue/phplint/pull/44

this breaks projects that use Laravel 5.2 or lower

[code]

https://github.com/overtrue/phplint/issues/14

can this be translate to English?

[2018-08-20 08:46] overtrue commented on #48
@lmj0011 You can install it as composer global command.

[2018-08-20 08:48] overtrue commented on #29
@eclipxe13 @jdrydn After considering, more and more similar tools are recommended to use the Composer way to install, so I do not intend to package it.

[2018-08-20 08:48] #29 closed

[2018-08-27 06:55] kAlvaro commented on #48
composer global require overtrue/phplint --dev

[2018-11-09 13:50] funivan opened #50 "Specify absolute path to the cache file"
How can I sore cache in the `/tmp` directory?
I tried to set `--cache="/tm/phplint.cache"` but it seems doesn't work

I found this line https://github.com/overtrue/phplint/blob/master/src/Cache.php#L99
And it seems to work only with relative location.

[2018-11-09 14:34] #50 closed

[2018-11-09 14:38] #48 closed

[2018-11-26 06:09] funivan opened #53 "Waiting for releaase"
Hello. Are there any plans when you will release the package?
Thanks.

[2018-11-26 09:00] overtrue commented on #53
sorry, I am forgot it.

https://github.com/overtrue/phplint/releases/tag/1.1.5

[2018-11-26 09:00] #53 closed

[2018-12-17 13:52] marcelloh opened #55 "typo in readme"
-c=FILENAME
must be -c FILENAME

[2018-12-17 13:54] #55 closed

[2019-04-01 18:35] nwaughachukwuma opened #58 "How to detect undefined parameters or variables"
Hi @overtrue, is this package able to capture errors for undefined/uninitialized variables? For example

[code]

will the package discover that the $user in second line is not initialized?

[2019-04-02 02:19] overtrue commented on #58
Maybe you need this https://github.com/phpstan/phpstan

[2019-04-02 08:54] nwaughachukwuma commented on #58
Awesome @overtrue, thanks!

[2019-05-24 01:30] #58 closed

[2019-07-31 08:37] Gaibhne opened #60 "-j/--jobs parameter description or behaviour wrong"
Using `/phplint src --no-cache --no-ansi --no-interaction -j=1` will hang the process (indefinitely, as far as I can tell, although I only gave it ~10 Minutes). Using `/phplint src --no-cache --no-ansi --no-interaction -j 1` instead (without the = in front of the number) appears to not only not hang, but actually take the 1 as a parameter - I end up with 11 seconds with `-j 1` and 3 seconds with `

[2019-07-31 14:15] overtrue commented on #60
@Gaibhne Hi, This command is based on symfony/console component:

https://symfony.com/doc/current/console/input.html#using-command-options

FYI.  [Docopt Standard](http://docopt.org/)

[2019-07-31 14:15] #60 closed

[2019-08-02 09:15] Gaibhne commented on #60
Fair enough. I would still argue that crashing/hanging on an incorrect parameter is probably more on the bug side than the working as intended side.

[2019-10-07 17:44] johnbburg opened #61 "PHP Warning: proc_open() expects parameter 1 to be string"
I am running int this warning that appears to halt execution. Running PHP 7.1.26. I'm using the yml file contents from the README, only with a modification to point to my project path.

After running into the error the first time, I did modify the code to var_dump() the contents of `$commandline`, which is the referenced argument in the error message.

[code]

Any help would be appreciated.

[2019-11-28 14:57] ttomdewit opened #63 "[REQUEST] Add flag to show full or short name"
Hi :wave:,

Thanks for all you do for the PHP community!

Would it be in the scope of this project to allow printing short filenames in the output?

For example, the current output is as follows:

[code]

What I'd personally need is as follows:

[code]

The changes I'm requesting can be found at `errors` -> `filename` -> `file`.

Thank you for your time.

Tom

[2019-12-05 09:46] ttomdewit commented on #63
Optionally we could add a `file_name` key alongside the `file` key.

[2019-12-06 10:56] ttomdewit commented on #63
Hi @overtrue, if you're up for it I'd PR the addition of the `file_name` key? For similar discussion please see https://github.com/phpmd/phpmd/issues/704.

[2019-12-06 18:58] overtrue commented on #63
Hi @ttomdewit, feel free to create a PR for this. Thanks.

[2019-12-07 13:46] #63 closed

[2020-02-06 18:35] jasonmccreary opened #65 "`exclude` option seems to be relative only"
Given the I have the directory structure:

- src
- tests
  - fixtures

I wanted to `exclude` the `test/fixtures` folder, so I set the option `exclude=tests/fixtures`. However, these files were still included.

After some toying around, I passed `exclude=fixtures` and there were properly excluded.

However, given I was running the `phplint` from the project root, I would expect the former to work.

[2020-02-08 12:30] kalsolio opened #66 "phar版本有计划吗"

[2020-03-05 02:55] ktamas77 opened #67 "JUnit output"
Is there a plan to extend this great tool to produce JUnit standard XML output for reporting tools?
Or is there an easy way to convert the available json output to JUnit XML?

[2020-03-05 09:40] #67 closed

[2020-03-24 17:59] NishealJ opened #69 "Php indentation checks?"
Can this library check for php indentations? Example $a=10  to $a = 10?

[2020-03-24 22:20] overtrue commented on #69
https://github.com/FriendsOfPHP/PHP-CS-Fixer

Nisheal John <notifications@github.com>于2020年3月25日 周三上午1:59写道：

[2020-03-25 17:57] NishealJ commented on #69
Perfect Thanks :)!

[2020-03-25 17:57] #69 closed

[2020-03-26 22:33] estahn opened #70 "Github Action"
A GitHub Action + support for GitHub annotation would be great.

[2020-04-06 10:22] bastianschwarz commented on #61
Have you checked what symfony versions are installed? I ran into this issue when using composer --prefer-lowest in our CI

My best guess without digging in further is a possible symfony version mismatch:

[code]

Try setting a minimal version for symfony/process since the command line building was extended in later versions. Not ideal, but I could work as a quick workaround.

Ideally, the minimal

[2020-04-16 08:55] StrathCole opened #71 "Problem with symbolic links"
I am using phplint from gitlab with repositories that contain symbolic links where targets are not inside the repository.
phplint seems not to be able to handle this and dies with exception. Version is 1.2.1.

Config is:
[code]

[code]

[2020-04-16 15:46] overtrue commented on #65
@jasonmccreary Sorry for not replying to you until now, the `exclude` is relative to target path(default: `.`),  please show me the full command to me, I can't reduce the problem. Thanks.

[2020-04-16 15:49] overtrue commented on #71
plz upgrade to 1.2.2 and test again, I can't reproduce the problem.

[2020-04-16 17:57] jasonmccreary commented on #65
I see. Makes sense I suppose. Thanks.

[2020-04-16 17:57] #65 closed

[2020-04-16 18:18] StrathCole commented on #71
Done. But sadly it persists:
[code]

[2020-04-16 18:25] StrathCole commented on #71
Problem seems to be this:
https://github.com/overtrue/phplint/blob/master/src/Command/LintCommand.php#L337

When an error in Command->run occurs (because file is a symlink that is not existing) then it triggers the error without checking if the file exists before opening it with `file()`.

[2020-04-16 18:29] StrathCole commented on #71
You should be able to reproduce this like this:

`cd /myproject`
`mkdir includes`
`ln -s /path/not/existing includes/mylib.inc.php`

And then run phplint with this config:
[code]

[2020-04-16 23:11] #71 closed

[2020-04-16 23:12] overtrue commented on #71
Sorry, I misunderstood your scene. It's fixed now.

[2020-04-16 23:13] overtrue commented on #71
https://github.com/overtrue/phplint/commit/f71100ae49d833863ef5eb819e58e362ac9a6b96#diff-d65ec871dabaddc72b967fe5a369fcbdR186-R188

[2020-04-17 06:05] StrathCole commented on #71
Thank you, it seems that the commit introduced a new problem.

[code]

[2020-04-17 06:20] overtrue commented on #71
I am sorry, I found it:

3.x - 4.1 https://github.com/symfony/finder/blob/4.1/Finder.php#L168
4.2 + https://github.com/symfony/finder/blob/4.2/Finder.php#L173

[2020-04-18 01:02] overtrue commented on #70
https://github.com/marketplace/actions/check-php-syntax-errors

[2020-04-18 01:02] #70 closed

[2020-04-20 12:51] peterkoppenaal opened #73 "Path from config file not used"
Hi,

after upgrading to 2.0.0 the path variable in my .phplint.yml stopped working.
Contents of my yml file:
[code]

When I add the path variable to the CLI command, it works.
Could this be caused by this commit?
https://github.com/overtrue/phplint/commit/0e94daed43fe7a929bf892cb2290cb9af3ed4597

best regards
Peter

[2020-04-20 16:06] #73 closed

[2020-04-20 16:06] overtrue commented on #73
I am sorry, It's fixed.

[2020-04-22 15:38] Zarcox opened #74 "The path specified in the config file isn't loaded anymore"
Hey :) !

PHPLint has a regression since its **1.2.2** version because of this exact line change ^^ : `src/Command/LintCommand.php` on **line 404**.

The command isn't able to load the path from the config file anymore, but still works as expected when it is provided via the CLI argument x) !

[2020-04-22 17:38] Zarcox commented on #74
Ok, I didn't see this issue was already solved : #73

Waiting for **2.0.1** then ;) !

[2020-04-22 17:38] #74 closed

[2020-04-22 20:26] pramser opened #75 "Version identifier for 2.0.0 release marked as 1.2.5 in package"
My `composer.json` is pulling version 2.0 for the current phplint package:

[code]

In the library, the version is reflected as 1.2.5:

[code]

Should be a simple bug/fix. Wanted to point it out so future issues and documentation can be properly reported.

[2020-04-23 02:05] overtrue commented on #75
Please update to 2.0.2 :

[code]

[2020-07-28 18:09] vbezruchkin opened #78 "PHP 7.4 array functions support"
Hi,

Thanks for the package. I wonder if you have any plans to support PHP closures. I have a CI configured with your docker, and it generates errors like:

[code]

Thanks

[2020-07-29 02:12] overtrue commented on #78
Hi, arrow functions can only have one expression, which is the return statement.

FYI: https://stitcher.io/blog/short-closures-in-php

[2020-07-29 02:14] overtrue commented on #78
So, you must use `function(){}` if you have multi-line expressions.

[2020-07-29 06:05] #78 closed

[2020-07-29 08:40] vbezruchkin commented on #78
Thanks for the confirmation. Yes, seems quite reasonable.

Cheers

[2020-07-29 08:43] overtrue commented on #78
@vbezruchkin 🍻

[2020-08-05 04:03] spelcaster commented on #29
https://twitter.com/s_bergmann/status/999635212723212288

[2020-09-03 09:50] songyichao opened #79 "PHP Fatal error: Uncaught Error: Class 'Overtrue\PHPLint\Console\Application' not found in"
PHP Fatal error:  Uncaught Error: Class 'Overtrue\PHPLint\Console\Application' not found in

[2020-09-22 11:23] #61 closed

[2020-10-01 13:07] BackEndTea opened #83 "Identify warnings, as well as errors"
The following code gives a warning during linting, but phplint does not notify the user of that.

[code]

Running `php -l` on the file gives the following output:
[code]

I'd like to be able to see the warnings as well, perhaps with an additional flag to preserve the 'old behavior.

[2020-10-01 14:23] overtrue commented on #83
I'm sorry, but this package is just an easy-to-use wrapper for `php -l`, unfortunately it doesn't give you the results you'd expect, you may need to use the PHP static analysis tool: https://github.com/phpstan/phpstan

[2020-10-01 14:25] BackEndTea commented on #83
The php -l command does output the warning. If this is something that you would want in this toll id be happy to provide a PR.

[2020-10-01 14:27] overtrue commented on #83
Oh, that must be wonderful. Welcome, PR.

[2020-10-02 04:37] #83 closed

[2020-10-08 16:46] AnLuizMM opened #86 "Problem with lint in PHP7.4"
When I run lint using PHP7.4 the problem occurred to recognize the typing in the variables.
![image](https://user-images.githubusercontent.com/32845476/95488724-442f4a80-096c-11eb-9a97-54ae1a0281ee.png)
![image](https://user-images.githubusercontent.com/32845476/95488890-793b9d00-096c-11eb-808d-45420449b991.png)

Is there some setting to solve this?

[2020-10-09 02:44] overtrue commented on #86
Plz check your php cli version:

[code]

[2020-10-09 10:09] AnLuizMM commented on #86
I'm using lint on Github Action and this is the PHP configuration during execution
![image](https://user-images.githubusercontent.com/32845476/95571138-5659c900-09fe-11eb-93c1-3acff46e2646.png)

does it help?

[2020-10-09 10:12] overtrue commented on #86
It does seem to be a problem with the PHP version, maybe you need to double-check the environment, I don't have a better idea right now.

[2020-10-10 02:38] lwx5924 opened #87 "Can't display the value scope error"
Can't display the value scope error, code as below:

[code]

but this report success:

[code]

[2020-10-10 02:57] overtrue commented on #87
这属于运行时错误，不属于语法错误，所以无法检测，如果想要检查这种错误可以考虑 https://github.com/phpstan/phpstan

[code]

[2020-10-27 07:43] NorthenIrbis commented on #86
@overtrue Can you update the version of PHP in your Dockerfile? https://github.com/overtrue/phplint/blob/master/Dockerfile

[2020-10-27 08:25] overtrue commented on #86
@NorthenIrbis done.

[2020-10-27 09:08] NorthenIrbis commented on #86
@overtrue Thanks!!!

[2020-11-25 14:31] #87 closed

[2020-11-25 14:31] #86 closed

[2020-11-25 14:32] overtrue commented on #66
不打算提供 phar 版本了，因为实际上很少见到这么用的，composer 安装的方式已经足够方便了。

[2020-11-25 14:32] #66 closed

[2020-11-25 14:33] overtrue commented on #79
麻烦提供你的使用步骤，和具体重现方式

[2020-11-25 14:33] #75 closed

[2020-12-03 10:50] ttomdewit opened #89 "More than one lint error in one file"
Hi 👋,

Given the following (Laravel) PHP code:

[code]

Please notice the additional `e`s at line 12, 22, 32 and 42.

When running PHPLint it generates the following JSON output:

[code]

I'd expect multiple errors on the same file. Is this even possible? And if so, would it be a worthwhile addition? I'd PR this but I'll have to figure out the inner workings of the Linter itself.

Kind regards,

T

[2020-12-03 11:23] overtrue commented on #89
It seems unlikely that this will be possible, as the tool is based on `php -l`.

[2020-12-03 11:43] ttomdewit commented on #89
That's very unfortunate but understandable. Thanks a lot!

[2020-12-03 11:43] #89 closed

[2020-12-03 11:47] overtrue commented on #89
@ttomdewit You're welcome.

[2020-12-05 03:15] #79 closed

[2020-12-10 22:36] c33s commented on #29
as it is a ci tool it should not interfere with project dependencies. phar would be the prefered way for ci tools to install. see phpstan, php-cs-fixer, composer-unused, composer-require-checker, phpunit, ...
so i wouldn't say that composer is the "recommended" way.
just me 2ct

[2020-12-11 13:24] jdrydn commented on #29
Wow, this thread is a throwback! 😂 From the looks of it, @overtrue has added Docker support & GitHub Actions, but still no PHAR, so I guess the reason is entirely developer preference 🤷‍♂️

@c33s Looks like you could install Docker to your platform & run it directly on your codebase, with something like (untested):
[code]

@overtrue There's (now) GitHub Actions for creating/uploading releases, and

[2020-12-11 17:31] overtrue commented on #66
https://github.com/overtrue/phplint/releases/tag/2.3.5

[2020-12-11 17:31] overtrue commented on #29
https://github.com/overtrue/phplint/releases/tag/2.3.5

[2020-12-11 17:33] overtrue commented on #29
Hi, all. All future new releases will be accompanied by a Phar package. :smile:

[2020-12-14 09:24] muyuncloud opened #90 "phplint的组件和php原生的php -l做语法检测的时候，有什么大的区别吗？"

[2020-12-14 09:25] muyuncloud commented on #90
需要作者或是有清楚的小伙伴回答一下

[2020-12-14 09:29] overtrue commented on #90
没什么区别，只是更方便的作为 CI 工具提取和展示错误

[2021-04-05 18:13] shuat opened #92 "I ran against a magento repo"
I ran the following

./vendor/bin/phplint ./app/code -j 10 -w

Is this linter suppose to catch an undefined variable?
I use vscode and it warns that my variable is undefined using intelephsense.
Is this linter suppose to pick that up?

[2021-04-06 02:41] #90 closed

[2021-04-06 02:42] overtrue commented on #92
This package is a wrapper of the command `php -l`, it cannot found the undefined variable error, may be you need this: https://github.com/phpstan/phpstan

[2021-06-02 11:35] jasonmccreary opened #94 "Compatibility with PHP 8"
While this package appears to be compatible with PHP 8 from a dependency perspective, it does not seem to work within my GitHub Actions.

It's failing with a syntax error for the new `match` statement.

[code]

This may simply be a configuration issue, but my job is running PHP 8.0 via the [shivammathur/setup-php@v2](https://github.com/shivammathur/setup-php) step. Any guidance for ensuring this s

[2021-06-02 11:45] overtrue commented on #94
`php -v`

[2021-06-02 11:59] jasonmccreary commented on #94
[code]

This was added prior to the step `Run overtrue/phplint@master`. My guess is this step is not using the PHP version of the job, but it's own (7.4).

[2021-06-02 12:10] #92 closed

[2021-06-02 12:15] overtrue commented on #94
I will fix this later.

发自我的iPhone

[2021-06-02 14:14] overtrue commented on #94
@jasonmccreary plz try to use `uses: overtrue/phplint@8.0`

[2021-06-02 14:22] jasonmccreary commented on #94
That did it. I assume I should use this tag to get the PHP 8.0 build of phplint?

[2021-06-02 14:58] quickbutik-ronflorax opened #95 "Syntax Error in 7.4"
There seems to be a syntax error on the 7.4-branch:

`PHP Parse error:  syntax error, unexpected '|', expecting variable (T_VARIABLE) in /root/.composer/vendor/overtrue/phplint/src/Linter.php on line 21`

[2021-06-02 15:57] overtrue commented on #94
Yes

发自我的iPhone

[2021-06-02 16:04] overtrue commented on #95
composer installed ? or github action?

[2021-06-02 16:15] overtrue commented on #95
Fixed.

[2021-06-04 21:35] hemberger opened #97 "$processCallback accessed before initialization"
I've encountered an issue with version 3.0.2 upgrading from version 2.3.5 (using PHP 8.0.6):

This occurs with the following code:
[code]
Perhaps an `isset($this->processCallback)` check is needed in addition to the `is_callable` check on this line?
https://github.com/overtrue/phplint/blob/71e808491c639257cf437c50499c64965a6fa170/src/Linter.php#L37

[2021-06-05 15:28] michield commented on #95
So, the linter project doesn't lint it's own code? :-)

If it's fixed, can you publish it? It's not working on my CI yet

https://github.com/phpList/phplist3/actions/runs/909520804

[2021-06-05 16:00] overtrue commented on #95
@michield Sorry, this is a legacy issue, I fixed [an issue in 2.4.0](https://github.com/overtrue/phplint/commit/decfac40d5349055553360d3f626a0e39419351d) where the previous version of composer require did not specify a version, causing the latest version to be installed during action installation, resulting in 3.x being installed. We recommend updating your dependencies to 2.4 or higher, sorry for

[2021-06-05 16:01] overtrue commented on #95
https://github.com/phpList/phplist3/runs/2753428957?check_suite_focus=true#step:2:82

[2021-06-05 16:10] #97 closed

[2021-06-05 16:12] overtrue commented on #94
@jasonmccreary Sorry, my reply above is wrong, it should be using 3.0, docker  tag is 8.0.

[2021-06-05 16:24] michield commented on #95
ok, thanks

[2021-06-12 03:00] #95 closed

[2021-06-12 03:00] #94 closed

[2021-06-21 11:21] sandaemc opened #98 "Multiple path in the config yaml?"
Is there a way to provide multiple path i.e.

[code]

[2021-06-21 13:12] overtrue commented on #98
[code]

[2021-06-21 13:13] sandaemc commented on #98
Ah. Thank you.

[2021-06-21 13:13] #98 closed

[2021-06-21 13:17] overtrue commented on #98
@sandaemc ❤️

[2021-07-11 19:40] olegpro opened #100 "Uncaught Error: Typed property Overtrue\PHPLint\Linter::$processCallback"
For PHP 8.0.8 with parameter --no-progress:

[code]

Without parameter --no-progress its ok.

[2021-07-12 06:42] overtrue commented on #100
Please upgrade to 3.0.3 to fix it. https://github.com/overtrue/phplint/releases/tag/3.0.3

[2021-08-06 10:19] nifr opened #103 "PHAR releases gone since v.3.0.1"
Hi @overtrue - first of all thank you for you awesome work on phplint.

Currently the PHAR archives aren't added to the releases any more.
Also there are no `.asc` files.

I'd really love to install `phplint` in our projects with `phive`.

Can I help somehow to fix this?

[2021-08-06 10:31] overtrue commented on #103
@nifr I'm very sorry that this issue was not dealt with immediately due to time issues. Have you considered using https://github.com/vimeo/psalm ? I find that it is already much more powerful than this package.

[2021-09-19 13:19] jakubboucek opened #104 "Application version doesn't match release version"
https://github.com/overtrue/phplint/blob/a8cef929e230e0bef5685760e1a9674a12a587ca/src/Console/Application.php#L24

Current release version: 3.0.3
Application announces: 2.0.2

[2021-11-12 20:51] unional opened #105 "path in .phplint.yml is not working"
When calling `phplint` without path (e.g. `./vendor/bin/phplint`), the input options gets `path => '.'`, overriding the `path` config in the `.phplint.yml`.

Printing `$options` before this line: https://github.com/overtrue/phplint/blob/8.0/src/Command/LintCommand.php#L363

[code]

[2021-11-12 20:53] #105 closed

[2021-11-12 20:55] unional commented on #105
nvm. Dup of #74

thanks

[2021-11-22 13:51] llaville opened #106 "Docker version does not accept arguments"
Hello,

I've noticed when running current docker version of phplint 3.0.3 that it does not accept any arguments, and always give the same results.
There is also two other points to notice:
- always print the command ran `+ /root/.composer/vendor/bin/phplint` (debugging purpose only, not required in production mode); see `x` in https://github.com/overtrue/phplint/blob/3.0.3/entrypoint.sh#L3
- conso

[2021-11-22 14:28] llaville commented on #106
Another bug found:
- with official phplint docker image or my fix, always scan internal phplint code (110 files)

See results in verbose mode 3
[code]

[2021-11-23 01:34] overtrue commented on #106
@llaville Hi, thanks for your contribution.

because you command missing the `path` argument, so the default value is `.`

[2021-11-23 05:43] llaville commented on #106
Sorry I'm disagree with you. Even when I provide path and options, nothing are used.
See screenshot when I'm in another project with a `src` folder with 31 php files only. Always the same result, because you do not mount a host directory into container.

![phplint_31](https://user-images.githubusercontent.com/364342/142976341-c98b40f2-f967-4f91-87e3-9303795433c1.png)

[2021-11-23 05:50] llaville commented on #106
My PR is finished, and I run last tests before submit it

[2021-11-23 06:14] llaville commented on #106
You must change your README file because syntax at https://github.com/overtrue/phplint#docker-cli is not enough

```docker run --rm -t -v "${PWD}":/workdir overtrue/phplint```

See https://docs.docker.com/engine/reference/commandline/run/#options

```--rm``` to remove container after usage
```-t``` to use terminal color if possible (and allow usage of Symfony/Console --no-ansi syntax, even if `-t`

[2021-11-23 06:19] llaville commented on #106
And now tests/examples :

**Terminal color usage**
![phplint_colors](https://user-images.githubusercontent.com/364342/142978526-88e8000d-6066-4ba7-b3e4-6f3481cdfcb0.png)

**Options usage**
![phplint_options](https://user-images.githubusercontent.com/364342/142978761-f2d3eadb-86cc-4e12-ac31-7d23f38e1cfe.png)

**Files usage**
![phplint_files](https://user-images.githubusercontent.com/364342/14297881

[2021-11-23 06:21] llaville commented on #106
PR 108 is now completed and correspond to tests realized (see previous screenshots)

[2021-11-23 06:36] overtrue commented on #106
👍

[2021-11-23 06:54] llaville commented on #106
Same trouble with branch `7.4`; I suggest to apply fixes to this branch too

[2021-11-23 06:57] #103 closed

[2021-11-23 06:57] #100 closed

[2021-11-23 07:44] overtrue commented on #106
@llaville OK, thanks.

[2021-11-25 06:27] llaville commented on #106
@overtrue Here is the PR to fix this issue on branch/PHP 7.4

[2021-11-25 06:41] llaville commented on #106
@overtrue PR 110 fix the README file I've forgotten in first PR 108

[2021-11-25 06:53] overtrue commented on #106
@llaville Thank you.

[2021-11-25 07:43] #106 closed

[2021-11-26 06:42] llaville commented on #104
With latest PR 111, I think issue is now solved and this report should be closed.
Here is the result after installing the package with PHP 7.4

![phplint_php74](https://user-images.githubusercontent.com/364342/143537398-08a63181-7647-4768-8c70-11c5c08b3054.png)

BTW, I've noticed a little error (still require v2.0) on https://github.com/overtrue/phplint/blob/7.4/Dockerfile#L4 for Docker version PH

[2021-11-26 06:47] llaville opened #112 "Docker version of branch 7.4 still use phplint v2.0"
As I've commented https://github.com/overtrue/phplint/issues/104#issuecomment-979731434 phplint still use version 2.0 in Dockerfile of branch 7.4, and is outdated.
Latest version supporting PHP 7 is v3.0.0, while latest version 3.0.3 (3.0.1 or greater) support PHP 8

![phplint_docker_74](https://user-images.githubusercontent.com/364342/143538657-baa97cb5-df69-433c-a31f-9be5a8968a61.png)

PR is on

[2021-11-26 07:31] llaville commented on #112
With versions available, I'm sad to see that even if we fix it in Dockerfile, we'll continue to see the wrong version 2.0.2 !

Explains :

With these changes
[code]
Fixing phplint to latest version 3.0.0 that support PHP 7, and migration to Composer 2

Building locally docker container with `docker build . ` command
[code]

If we run attempt with this container : `f71961f5a31a`

![phplint_explains

[2021-11-26 07:37] llaville commented on #112
Or a more simple solution that patches is to :
- publish a new version 3.0.4 that support only PHP 7.4 and fix this issue and of course #104
Change the version in branch 8.0, and
- publish a new version 3.1.0 that support only PHP 8

[2021-11-26 11:57] overtrue commented on #112
Sorry, recently in the holiday, wait for my return to deal with, thank you.

[2021-11-26 12:22] llaville commented on #112
👍 OK will wait. Good holiday !

[2021-11-29 14:27] overtrue commented on #112
@llaville  https://github.com/overtrue/phplint/releases/tag/3.0.4

4.0.0 will only PHP 8

[2021-11-29 14:57] #104 closed

[2021-11-29 15:06] overtrue commented on #112
@llaville Thank you so much, 4.0.0 has been released. https://github.com/overtrue/phplint/releases/tag/4.0.0

[2021-11-29 15:37] llaville commented on #112
@overtrue Just tested fresh docker image. All goes fine !

[2021-11-29 15:46] overtrue commented on #112
@llaville 🍻

[2021-11-30 09:10] vebe opened #113 "Composer dependencies require a PHP version ">= 8.0.2"."
Since your last update I get this error:
[code]

I'm using your 7.4 version

[2021-11-30 11:36] overtrue commented on #113
Plz check the installed version:

[code]

[2021-11-30 11:40] BartVanGestel commented on #113
Can confirm since +/- 14 hours ago my build are failing via the Github actions.
[code]

[2021-11-30 11:42] overtrue commented on #113
@BartVanGestel `overtrue/phplint@8.0` or `overtrue/phplint@7.4` ？

[2021-11-30 12:14] BartVanGestel commented on #113
Also `overtrue/phplint@7.4` same version as @vebe

[2021-11-30 12:35] vebe commented on #113
@overtrue It seems to work when running it locally but fails in Github actions.
from `composer info overtrue/phplint`:
[code]

[2021-11-30 15:48] overtrue commented on #113
@vebe @BartVanGestel I am sorry, I have fixed it, plz try again.

https://github.com/overtrue/phplint-test/runs/4369761432?check_suite_focus=true

[2021-11-30 15:52] vebe commented on #113
@overtrue Works now. Thank you!

[2021-11-30 15:52] #113 closed

[2021-11-30 15:54] overtrue commented on #113
@vebe Thank you for your feedback.

[2021-12-01 08:25] BartVanGestel commented on #113
@overtrue Yes it works again, thanks!

[2021-12-01 20:58] purdy opened #114 "Run failures in Github Actions"
We've started seeing Action failures with phplint. We first noticed errors on Monday complaining about a PHP 8 requirement (we're using overtrue/phplint@7.4). That error went away and is now replaced by another error that indicates the path configuration we have setup in the workflow isn't respected:

[code]

There are only 600 or so files in `sites/all/modules/custom` folder, so to me, it appears

[2021-12-02 01:21] overtrue commented on #114
Thanks your feedback, I will fix this.

[2021-12-04 14:51] DarkDrim opened #115 "phplint return failures in vendor folder even when this folder excluded"
phplint return failures in vendor folder but this folder should be excluded:
I'm using github workflows:
[code]

I'm receiving now:
FAILURES!
Files: 7843, Failures: 8

There was 8 errors:
1. /github/workspace/src/vendor/yiisoft/yii2/base/Object.php:28
2. /github/workspace/src/vendor/symfony/console/Attribute/AsCommand.php:21
3. etc
all errors from vendor folder

[2021-12-10 15:41] jasonmccreary commented on #114
@overtrue, any progress here? Glad to help as we're suddenly experiencing issues with our builds without changing anything. Seems the `exclude` lists are no longer being honored.

[2021-12-10 16:27] overtrue commented on #114
@jasonmccreary I'm very sorry for trying to fix it, but other work has been disrupting my pace lately, so if you guys can help fix it of course it would be great. Anyway, I will fix it in 48 hours at the latest.

[2021-12-10 17:07] overtrue commented on #114
@jasonmccreary @purdy Please take a try.

[2021-12-10 17:08] overtrue commented on #114
I made a demo, it works: https://github.com/overtrue/phplint-test/runs/4486363898?check_suite_focus=true#step:5:7

[2021-12-10 17:13] overtrue commented on #114
It seems like it has been fixed: https://github.com/overtrue/phplint-test/runs/4486443601?check_suite_focus=true

[2021-12-10 20:27] joelmellon opened #116 "phplint error: The "-x" option does not exist."
This issue started today, roughly 3 hours after [this image](https://hub.docker.com/layers/overtrue/phplint/7.4/images/sha256-1345878049f50456f4aa45ac69477a87547a0b85470d19252c29d7246923c830?context=explore) was pushed, presumably from [this commit](https://github.com/overtrue/phplint/commit/3b749f2be6ac55bfa0bdea24031564574fcc6a98).

My GitLab Job output:

[code]

The latest tag `overtrue/phplint

[2021-12-11 13:59] rbrondgeest commented on #116
+1 also seeing this...

[2021-12-11 14:20] jasonmccreary commented on #114
@overtrue, no worries. I know how it is with these things. 🤗

Thanks for fixing!

[2021-12-11 14:38] overtrue commented on #114
@jasonmccreary 🍻

[2021-12-11 14:39] overtrue commented on #115
#114

[2021-12-11 14:39] #115 closed

[2021-12-11 15:15] overtrue commented on #116
@joelmellon can you paste the yaml file of ci job?

[2021-12-12 20:52] joelmellon commented on #116
Working .gitlab-ci.yml (latest):

[code]

Non-working .gitlab-ci.yml (7.4):

[code]

New error output from the 7.4 .gitlab-ci.yml above, after your [latest commit](https://github.com/overtrue/phplint/commit/79f033d9e866c7d625ec7e0c71fd030ede7da853):

[code]

Looks like a missing single quote on the first line of your script:

`sh -c '/root/.composer/vendor/bin/phplint sh -c if [ -x /usr/local/bin/

[2021-12-12 22:36] #114 closed

[2021-12-12 22:37] overtrue commented on #116
@joelmellon please try again with 7.4 tag.

[2021-12-12 23:07] rbrondgeest commented on #116
Can you please use patch numbers in your versions aa well? As to keep the
tags static? This screwed up our CICD pipeline, keeping my team off work. I
didnt expect docker version tags to change. No criticism, just a kind
suggestion.

Thanks for your work and looking into this.

Op zo 12 dec. 2021 om 23:37 schreef 安正超 ***@***.***>

--
Kind regards/Vriendelijke groet,

Roy Brondgeest
*Pulsive*
* - So

[2021-12-12 23:19] joelmellon commented on #116
Yep, that fixed it:

[code]

Thanks very much for fixing it up so quickly! 🤘

[2021-12-12 23:19] #116 closed

[2021-12-13 14:48] purdy commented on #114
Sorry about the late response, but our errors have also gone away with this update. Thanks!

[2021-12-13 15:00] overtrue commented on #114
@purdy ❤️

[2021-12-21 15:47] Myks92 opened #117 "Add support Symfony 6"
The `overture/phplint` package has a dependency on symfony 5.3, namely: `"symfony/console": "^5.3.11"`, `"symfony/finder": "^5.3.7"`, `"symfony/process": "^5.3.12"`, `"symfony/yaml": "^5.3.11"`. Please add Symfony 6 support.

[2021-12-24 08:48] #117 closed

[2022-01-06 17:39] beeyev opened #119 "Got an error when I try to use docker image."
Here is the config I use for gitlab ci
[code]
And here is the error i get
[code]

It seems like there is a bug inside the docker image, could you please check it?

[2022-01-07 05:26] overtrue commented on #119
FYI: https://github.com/overtrue/phplint/issues/116

[2022-01-26 08:29] txigreman opened #120 "Support for PHP 8.1"
I would love to have support for php 8.1.

[2022-02-07 18:43] andrey-helldar opened #121 "Custom codestyle"
Is it possible to use custom codestyle rules?

This would be very handy for customizing the lintener to the codestyle of projects.

[2022-02-07 20:11] overtrue commented on #121
@andrey-helldar This package is just a wrapper for the PHP `php -l` command, so it can't detect code style. Do you mean a tool like [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) or [Psalm](https://github.com/vimeo/psalm)?

[2022-02-07 21:24] andrey-helldar commented on #121
Yes, that's what I meant.

[2022-02-08 12:54] andrey-helldar commented on #121
Found an answer to my question :)

1. https://github.com/overtrue/phplint/blob/8.0/README.md?plain=1#L50
2. https://github.com/overtrue/phplint/blob/8.0/composer.json#L30

[2022-04-06 06:22] #119 closed

[2022-04-06 06:25] overtrue commented on #120
@txigreman I have created a branch `8.1` and new release ` 5.0.0` which require PHP >= 8.1, please take a try. sorry for the late response.

[2022-04-06 13:42] txigreman commented on #120
Thanks a lot! When are you planning to push it to Docker hub?

[2022-04-07 06:56] txigreman commented on #120
I've seen there is a problem in the Dockerfile, and sent you a pull request fixing it. I hope it helps.

[2022-04-07 06:58] #120 closed

[2022-04-07 07:57] overtrue commented on #120
https://hub.docker.com/r/overtrue/phplint/tags

[2022-04-18 15:52] cclauss opened #123 "GitHub Action used phplint v4, not v5"
https://github.com/overtrue/phplint/releases

[2022-04-19 09:11] cclauss commented on #123
Fixed in the latest release... https://github.com/overtrue/phplint/releases

[2022-04-19 09:11] #123 closed

[2022-05-06 08:27] evs-xsarus opened #125 "Readd support for symfony/console:^5"
Trying to install this package on Magento 2.4.4 with PHP 8.1 and it fails because Magento has symfony/console locked to v5. Could this support be readded.

[2022-06-08 12:08] vkryklyvenko opened #129 "Make releases to packagist with new option --no-files-exit-codes"
I created three pull requests to add new option --no-files-exit-codes
Could you make new releases because I can't use new changes by composer

[2022-06-09 04:20] overtrue commented on #129
@vkryklyvenko
8.1 https://github.com/overtrue/phplint/releases/tag/5.2.0
8.0 https://github.com/overtrue/phplint/releases/tag/4.2.0

[2022-06-09 07:16] vkryklyvenko commented on #129
Could you do it for 7.4 too please

[2022-06-09 10:54] #129 closed

[2022-06-17 23:54] tarlepp opened #130 "Missing documentation"

[2022-06-17 23:57] tarlepp opened #131 "Command `phplint --version` is outputting wrong version"
I have this in my `composer.json` file
[code]

and when I run `phplint --version` command I get:
[code]

[2022-06-18 04:56] overtrue commented on #131
Ignore it.

[2022-06-18 09:54] tarlepp commented on #131
Sure I can ignore it, but that is still a bug in this tool and that is why created this issue.

[2022-06-18 12:48] overtrue commented on #131
@tarlepp Yes, I will fix it. Thanks.

[2022-06-18 13:55] #131 closed

[2022-06-18 22:15] tarlepp opened #132 "Incorrect error message in `bin/phplint` file"
If you look - https://github.com/overtrue/phplint/blob/8.1/bin/phplint#L4-L6 - it's telling that you need at least use PHP 5.5.9 version and it looks like that is not anymore true - https://github.com/overtrue/phplint/blob/8.1/README.md#required - that part is telling that minimum PHP version is 8.1

[2022-06-19 03:19] overtrue commented on #132
Hello, @tarlepp I won't have much time to maintain this project, Do you interested in maintaining this repo?  I can transfer it to you, Thanks.

[2022-06-21 06:30] vkryklyvenko opened #136 "Make new release"
I created three pull requests to upgrade version in Dockerfile
Could you make releases with my changes - it should be  4.2.1 and 3.1.1 and 5.2.2

[2022-06-21 10:14] #136 closed

[2022-06-21 11:16] vkryklyvenko commented on #136
awesome! Thanks!

[2022-07-05 11:37] llaville opened #137 "Be able to set memory limit on each process"
Hello

Current process is built without PHP `-c` option.
See https://github.com/overtrue/phplint/blob/8.1/src/Linter.php#L157-L167

It could be usefull for some users to add a `php.ini` with a `memory_limit` constraint like this one https://www.php.net/manual/en/configuration.file.php#example-27

[2022-07-06 08:16] overtrue commented on #137
@llaville Can you submit a PR? I won't have much time to maintain this project.

[2022-07-08 13:28] llaville commented on #137
@overtrue Finally after thinking about this request, it has non sense to use an external config file only to override PHP memory limit.
This is the reason why I changed title of this request that become ability to set memory limit for each linter process.

In `.phplint.yml`, we can find a new entry

[code]

That can be
- empty (no need to override default system PHP memory limit)
- `-1` to have no

[2022-07-08 15:46] llaville opened #139 "Let Composer do the job to install the correct version (v3 / v4 / v5)"
With current composer php constraints

- branch 8.1 => https://github.com/overtrue/phplint/blob/8.1/composer.json#L19
- branch 8.0 => https://github.com/overtrue/phplint/blob/8.0/composer.json#L19
- branch 7.4 => https://github.com/overtrue/phplint/blob/7.4/composer.json#L19

Code maintain is a bit difficult (see PR #135, PR #134, PR #133), each time there are new versions.

NOTE: Use also a Major

[2022-07-09 02:05] #137 closed

[2022-07-09 02:06] overtrue commented on #139
It's a good idea, Thanks.

[2022-07-09 04:18] llaville commented on #137
Thanks @overtrue

[2022-07-09 04:19] llaville commented on #139
I'll work on it today !

[2022-07-09 04:57] llaville opened #142 "PHP 8.1 support and conflict with `brainmaestro/composer-git-hook`"
I've noticed when trying to install a fresh copy (without composer.lock) of `overtrue/phplint` from branch 8.1, that we run in trouble; see following output :

[code]

Reason is that package [brainmaestro/composer-git-hooks](https://github.com/BrainMaestro/composer-git-hooks/blob/v2.8.5/composer.json#L18-L21) latest release 2.8.5 does not support yet `symfony/console` v6.

See origin of issue, fro

[2022-07-09 04:58] llaville commented on #142
That should solve also issue  #125

[2022-07-09 05:03] llaville commented on #142
@overtrue PR #143 available for review/merge

[2022-07-09 05:14] llaville commented on #139
Composer [allow plugins](https://getcomposer.org/doc/06-config.md#allow-plugins) feature was not backported to branch 8.0 and 7.4 from branch 8.1
See origin at https://github.com/overtrue/phplint/blame/8.1/composer.json#L74

I'll add it also in this context

[2022-07-09 05:23] llaville commented on #139
Composer PHP constraint allow PHP 5.5.9 to 7.4, but not PHP 8.0 and 8.1 (for branch 7.4); Can be checked with https://jubianchi.github.io/semver-check/#/constraint/^5.5.9%20||%20^7.0

[2022-07-09 05:30] llaville commented on #139
I've also updated Composer OR constraint syntax (with commit https://github.com/llaville/phplint/commit/8153748f31cb23bc98265d17a2514600ba04c1ed) following recommandation we can read at https://getcomposer.org/doc/articles/versions.md#version-range

[2022-07-09 05:52] llaville commented on #139
@overtrue For patch on branch 8.1, I'll waiting for PR #143 agreement

[2022-07-11 03:28] overtrue commented on #142
@llaville Are you interested in maintaining this project? I can add you as a maintainer or transfer the project to you.

[2022-07-11 04:32] llaville commented on #142
@overtrue Thanks for this offer ! I'm not sure to have enough time in future months, but I accept to be a co-maintainer.

[2022-07-11 04:59] overtrue commented on #142
@llaville Thank you very much.

[2022-07-11 14:14] llaville commented on #142
This issue was fixed by commit 1f4d556dd7e2fe13dc288cf7848f0b94cd114d6a (merged), so this report may be closed

[2022-07-11 14:14] #142 closed

[2022-07-11 15:09] llaville commented on #132
Fixed now for branch 8.1 but also 8.0

[2022-07-11 15:14] llaville commented on #139
Fixed now by PR #144, #145 and #147 merged in corresponding branches 7.4, 8.0 and 8.1
This issue may be closed !

[2022-07-11 15:14] #139 closed

[2022-07-11 15:17] llaville commented on #125
Fixe was applied in context of PR #143 for issue #142, but it should also fix this bug. @evs-xsarus please confirm, and feel free to close this report

[2022-07-11 15:39] llaville opened #148 "Scheduling new releases v3/v4/v5"
@overtrue I think we are almost ready for new releases
- v3 on branch 7.4
- v4 on branch 8.0
- v5 on branch 8.1

As we have introduced a little new feature (overriding `memory_limit` by config file;  see #137), I suggest to bump Application versions to
3.2, 4.3 and 5.3 / Are you agree ?

We are still waiting feedback from issues #125 and #132

Issue(s) fixed :

- #139
- #142

[2022-07-12 06:38] overtrue commented on #148
@llaville I agree, I think we can release the version now, if they don't reply for a long time, we don't have to wait, when the new version is released if they try there are still new problems we can release the patch to fix it again, thank you for your work. :+1:

[2022-07-12 07:29] llaville commented on #148
@overtrue OK, so I'll bump new versions 3.2, 4.3 and 5.3, and let you publish officially the releases

[2022-07-12 10:52] llaville commented on #148
Sorry, no more free time until tomorrow

[2022-07-12 10:56] overtrue commented on #148
OK,Thanks

[2022-07-13 02:52] overtrue commented on #148
https://github.com/overtrue/phplint/releases/tag/5.3.0
https://github.com/overtrue/phplint/releases/tag/4.3.0
https://github.com/overtrue/phplint/releases/tag/3.2.0

@llaville Done.

[2022-07-13 02:52] #148 closed

[2022-07-13 06:43] evs-xsarus commented on #125
Seems to be working.

[2022-07-13 06:43] #125 closed

[2022-09-09 12:59] llaville commented on #132
This issue was fixed with new releases published 2 month ago. @tarlepp if you think this bug is not fixed please open a new report !

[2022-09-09 12:59] #132 closed

[2022-09-09 13:54] llaville opened #149 "Release workflow was broken"
Release workflow was broken since [last run for version 5.3.0](https://github.com/overtrue/phplint/runs/7313618320?check_suite_focus=true)

[code]

Incompatibility between dependencies on PHP 8.1 platform.

Suggestion is to allow `symfony/*` components on v5.0 to be able to install a `humbug/box` v3 compatible with PHP 8.1

[2022-09-09 14:00] llaville commented on #149
@overtrue if you've time to review my patch already applied on branch `8.1` only !

[2022-09-09 14:07] overtrue commented on #149
@llaville It's good, Thanks.

[2022-09-09 14:22] #149 closed

[2022-09-19 09:30] llaville opened #150 "Add support for upcoming version PHP 8.2"
We need to add a new major version 6.0 that will support upcoming PHP 8.2 scheduled for November, 24 2022.

[2022-09-19 09:32] llaville commented on #150
Will do, this week :)

[2022-09-20 17:58] fredericgboutin-yapla opened #151 "Good faith question - How is the PHP linter valuable for you?"
Hi,
Please bear with me for a moment, I'm really just asking a question seriously.

Since I've bootstrapped this component in our CI several months ago, we never ever got any errors or warnings. NEVER.

I mean, I have not a single recall of a moment where the CI flagged a linter issue with the code. And we are talking about multiple repos, some relatively big, several hundred thousands of LoCs, a

[2022-09-21 23:13] overtrue commented on #151
Hi, this is a good question, as you said, our code has been running online for two years without any syntax errors until one day, one of our colleagues was trying to fix an urgent bug on line, he was very sure that a small change could fix the problem, so it took him less than a minute to submit the change, but for various reasons our test cases did not fully cover the change file, and the CI proc

[2022-09-22 12:57] fredericgboutin-yapla commented on #151
An honest answer to an honest question.

Thanks for shedding some light in here!

The problem I see with `php -l` is that, like you said, it is basically a very barebone syntax checker but not really a linter per-say. In my book, at least, it doesn't qualify as a linter.

It has been several months and we tried at least 4 or 5 different "real" PHP linters and unfortunately, none of them made it to

[2022-09-22 13:38] overtrue commented on #151
@fredericgboutin-yapla Thank you for sharing.

[2022-09-22 13:38] #151 closed

[2022-09-24 13:52] llaville commented on #150
My roadmap / Will do :

- [ ] initialize new branch `6.0` that will support future PHP 8.2 version.
- [ ] tag new application version to `6.0-dev` until PHP 8.2 reach stable status (scheduled for November 24, 2022, see [dedicated page](https://wiki.php.net/todo/php82) on PHP Wiki)
- [ ] upgrade README page corresponding to new PHP version
- [ ] add basic test to verify that application is able to

[2022-09-24 13:57] llaville commented on #150
Branch `8.2` was initialized by following commands :

[code]

[2022-09-24 14:01] llaville commented on #150
Commit a57c612731d5cd000df74b4d8770ec3ad304943b, bump new Application version to **6.0-dev** and fix composer php requirements.

[2022-09-24 14:05] llaville commented on #150
README page was updated with commit 565340ee5d32df9042de3f12c960415cb24a99d3

[2022-09-24 14:09] llaville commented on #150
Updated source code with commit 1b8c2281add39cf441aaa714ff7486239249704f and 7fe6938672abf84a39b42f886f0c256dd6e5ff61

[2022-09-24 14:14] llaville commented on #150
Now [Docker version 8.2](https://hub.docker.com/r/overtrue/phplint/tags?page=1&name=8.2) is available, we can upgrade CI workflow with commit f9aeb16f4dcffcc50e0ba3b8dbc016b30f985412

[2022-09-24 14:17] llaville commented on #150
Before to update CI and check a pure PHP 8.2 syntax file like this one

[code]

we need to publish a 6.0-dev version to Packagist. @overtrue are your agree with all steps ?

[2022-09-24 14:41] overtrue commented on #150
It is good,just do it.

[2022-09-24 15:01] llaville commented on #150
@overtrue I've prepared a draft for release 6.0.0 (https://github.com/overtrue/phplint/releases/tag/untagged-410d5d58f3c17a7afd7b)
If you're agree, you can confirm and change its status !

[2022-09-25 06:58] llaville opened #152 "Docker version build failed when git tag is pushed"
Read https://docs.github.com/en/actions/learn-github-actions/environment-variables to learn more about **GITHUB_REF** env variable used by Docker workflow (see statement `run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"`).

Suggestion: prevent Docker workflow running if **GITHUB_REF_TYPE** is not `branch`

[2022-09-25 07:12] llaville commented on #152
More simple : `on push branches [ ]`

[2022-09-26 10:10] overtrue commented on #150
Hi, @llaville I've published it. Thanks.

[2022-10-02 07:06] MisterZ01 commented on #113
fisrt, run `composer update` , then,` run composer install`

[2022-10-11 07:07] overtrue commented on #148
Thanks for your contributions.

Laurent Laville ***@***.***>于2022年7月11日 周一23:39写道：

[2022-10-20 06:04] llaville opened #153 "[GitHub Workflows] Update default runtime to node16"
With the update to latest major version of each GitHub Actions, all scripts will now be run with [Node16](https://github.blog/changelog/2021-12-10-github-actions-github-hosted-runners-now-run-node-js-16-by-default/), rather than Node 12.

/cc @overtrue PR will follows

[2022-10-20 07:42] #153 closed

[2022-10-20 08:07] llaville commented on #152
Extract banch name by using deprecated [set-output](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/) command generate a warning.

[2022-10-20 08:29] llaville commented on #152
Re-building Docker image each time we push changes on branch is now easy and did not generate any warning (due to deprecated command).
`docker.yml` workflow is only triggered when pushing branch and not when tag is applied.
So I think this issue is now really fixed. @overtrue are you agree ?

[2022-10-20 08:33] overtrue commented on #152
OK

[2022-10-20 14:58] llaville commented on #152
Before to close this issue, I will apply same fix tomorrow on other branches.
I'm also preparing a code change I'll propose to you @overtrue for review by a new PR

[2022-10-21 07:01] overtrue commented on #152
Thanks.

[2022-10-21 07:12] llaville opened #155 "Drop support of PHP 5"
PHP 5 is no more supported officially since a very long time now.

- PHP 7.x is supported through branch `7.4`
- PHP 8.0 is supported through branch `8.0`
- PHP 8.1 is supported through branch `8.1`
- PHP 8.2 will be supported through branch `8.2`

/cc @overtrue are you agree to drop PHP 5 support on branch 7.4 ?

[2022-10-21 07:19] llaville opened #156 "PHP-CS-Fixer migration"
PHP CS Fixer v2, which is not maintained anymore, should be updated to v3.

Depends of #155

[2022-10-21 07:25] llaville opened #157 "Highlight PHP code in terminal"
As `jakub-onderka/php-console-highlighter`  package is abandoned and no longer maintained. The author suggests using the [php-parallel-lint/php-console-highlighter](https://packagist.org/packages/php-parallel-lint/php-console-highlighter) package instead.

[2022-10-21 09:11] #157 closed

[2022-10-21 13:36] llaville commented on #150
As Release 6.0.0 should be considered as beta rather than a stable version, I've used recent feature to [Explicitly Set the Latest Release](https://github.blog/changelog/2022-10-21-explicitly-set-the-latest-release/), and update accordingly the 5.3.0 version.

/cc @overtrue FYI

[2022-10-28 04:19] llaville commented on #155
@overtrue Awaiting your agreement ...

[2022-10-28 04:26] overtrue commented on #155
oh, I am sorry to miss this notification, just do it.

[2022-10-28 05:35] llaville commented on #155
Will keep support PHP 7.0 to 7.3 even if not maintained anymore.  Command `composer why php` show us

[code]

[2022-10-28 05:35] #155 closed

[2022-10-28 05:47] llaville commented on #156
Done

[2022-10-28 05:47] #156 closed